body {
    font-family: Arial, sans-serif;
    background-image: url(https://i.pinimg.com/736x/72/3a/ec/723aec5c253f59638def837a3e489e0e.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.5);
}
.container {
    max-width: 800px;
    margin: 40px auto;
    border-radius: 20px;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
button {
    margin-top: 10px;
}
.btn{
    width: 100%;
}

.cajaContenedora {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    backdrop-filter: blur(10px);
}

.table{
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}